<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <th:block th:replace="fragments.html :: head(titulo='Administracion')"></th:block>
        <title>Administración</title>
    </head>
    <body>
        <div class="container">
            <h1>Administración</h1>
            <div class="buttons">
                <a th:href="@{/administracion/{id}/listaProductos(id=${adminId})}" class="button">Productos</a>
                <a th:href="@{/administracion/{id}/listaUsuarios(id=${adminId})}" class="button">Usuarios</a>
                <a th:href="@{/administracion/{id}/listaNutricionistas(id=${adminId})}" class="button">Nutricionistas</a>
            </div>
        </div>
    </body>
</html>
