<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <th:block th:replace="fragments.html :: head(titulo='Login')"></th:block>
</head>

<body>
<div th:replace="__header :: body"></div>
<div class="container-fluid">

    <div class="row justify-content-center mb-4">
        <div class="col-auto">
            <h2>Registro Nuevo Usuario</h2>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="form-container">
                <form method="post" th:action="@{/registro}" th:object="${registroData}">
                    <div class="form-group">
                        <label for="correo">Correo Electrónico</label>
                        <input id="correo" class="form-control" name="correo" placeholder="Correo electrónico" type="text" th:field="*{correo}" required/>
                    </div>
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input id="nombre" class="form-control" name="nombre" placeholder="Nombre" type="text" th:field="*{nombre}"/>
                    </div>
                    <div class="form-group">
                        <label for="contraseña">Contraseña</label>
                        <input id="contraseña" class="form-control" name="contraseña" placeholder="Contraseña" type="password" th:field="*{contraseña}" required/>
                    </div>
                    <div class="form-group">
                        <label for="peso">Peso (kg)</label>
                        <input id="peso" class="form-control" name="peso" placeholder="Peso en kilogramos" type="number" th:field="*{peso}" min="0" required/>
                    </div>
                    <div class="form-group">
                        <label for="edad">Edad</label>
                        <input id="edad" class="form-control" name="edad" placeholder="Edad" type="number" th:field="*{edad}" min="0" required/>
                    </div>
                    <div class="form-group">
                        <label for="sexo">Sexo</label>
                        <select id="sexo" class="form-control" name="sexo" th:field="*{sexo}" required>
                            <option value="" disabled selected>Seleccione su sexo</option>
                            <option value="masculino">Masculino</option>
                            <option value="femenino">Femenino</option>
                            <option value="otro">Otro</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Registrar</button>
                    <a class="btn btn-link" href="/login">Ir a Login</a>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments::javascript"/>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<th:block th:replace="fragments.html :: javascript"></th:block>
</body>
</html>