<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="fragments.html :: head(titulo='ListaUsuarios')"></th:block>
    <title>Lista de Usuarios</title>
    <style>
        /* Estilos adicionales */
    </style>
</head>
<body>
<div th:replace="__header :: body"></div>
<h1>Lista de Usuarios</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Peso</th>
        <th>Edad</th>
        <th>Sexo</th>
        <th>Nutricionista</th>
        <th>Eliminar</th>
        <th>Mensajes</th>
        <th>Modificar</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="usuario : ${usuarios}">
        <td th:text="${usuario.id}"></td>
        <td th:text="${usuario.nombre}"></td>
        <td th:text="${usuario.peso}"></td>
        <td th:text="${usuario.edad}"></td>
        <td th:text="${usuario.sexo}"></td>
        <td th:text="${usuario.nutricionista.getNombre()}"></td>

        <td>
            <form th:action="@{/administracion/{adminId}/listaUsuarios/eliminar/{userId}(adminId=${adminId}, userId=${usuario.id})}" method="post">
                <button id="delete" type="submit">Eliminar</button>
            </form>
        </td>
        <td>
            <a th:href="@{/administrador/1/mensaje/usuario/{userId}(userId=${usuario.id})}">
                <button type="button">Ver Mensajes</button>
            </a>
        </td>
        <td>
            <!-- Enlace para abrir el popup -->
            <a href="#popup" th:attr="data-usuario-id=${usuario.id}"><button type="button">Cambiar nutricionista</button></a>
        </td>
    </tr>
    </tbody>
</table>
<!-- Ventana emergente -->
<div class="overlay" id="popup">
    <div class="popup">
        <h2>Cambiar nutricionista</h2>
        <form th:action="@{/administracion/{adminId}/cambiarNutricionista(adminId=${adminId})}" method="post">
            <select name="nutricionistaId">
                <option value="">Selecciona un nutricionista</option>
                <option th:each="nutricionista : ${nutricionistas}" th:value="${nutricionista.id}" th:text="${nutricionista.nombre}"></option>
            </select>
            <input type="hidden" name="usuarioId" id="usuarioId">
            <button type="submit" class="close-btn">Guardar</button>
        </form>
        <a href=""><button  class="close-btn">Cerrar</button></a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    function closePopup() {
        document.getElementById('popup').classList.add('d-none');
    }

    document.querySelectorAll('a[href="#popup"]').forEach(function (element) {
        element.addEventListener('click', function () {
            var usuarioId = this.getAttribute('data-usuario-id');
            document.getElementById('usuarioId').value = usuarioId;
            document.getElementById('popup').classList.remove('d-none');
        });
    });
</script>
</body>
</html>


