<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="fragments.html :: head(titulo='ListaUsuarios')"></th:block>
    <title>Lista de Usuarios</title>
    <style>

    </style>
</head>
<body>
<div th:replace="__header :: body"></div>
<h1>Lista de Usuarios</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Peso</th>
        <th>Edad</th>
        <th>Sexo</th>
        <th>Nutricionista</th>
        <th>Eliminar</th>
        <th>Mensajes</th>
        <th>Modificar</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="usuario : ${usuarios}">
        <td th:text="${usuario.id}"></td>
        <td th:text="${usuario.nombre}"></td>
        <td th:text="${usuario.peso}"></td>
        <td th:text="${usuario.edad}"></td>
        <td th:text="${usuario.sexo}"></td>
        <td th:text="${usuario.nutricionista.getNombre()}"></td>

        <td>
            <form th:action="@{/administracion/{adminId}/listaUsuarios/eliminar/{userId}(adminId=${adminId}, userId=${usuario.id})}" method="post">
                <button id="delete" type="submit">Eliminar</button>
            </form>
        </td>
        <td>
            <a th:href="@{/administrador/1/mensaje/usuario/{userId}(userId=${usuario.id})}">
                <button type="button">Ver Mensajes</button>
            </a>
        </td>
        <td>
            <!-- Enlace para abrir el popup -->
            <a href="#popup"><button type="button">Cambiar nutricionista</button></a>
        </td>
    </tr>
    </tbody>
</table>
<!-- Ventana emergente -->
<div class="overlay" id="popup">
    <div class="popup">
        <h2>Cambiar nutricionista</h2>
        <select th:name="nutricionistas">
            <option value="">Selecciona un nutricionista</option>
            <option th:each="nutricionista : ${nutricionistas}" th:value="${nutricionista.id}" th:text="${nutricionista.nombre}"></option>
        </select>
        <a href="#"><button  class="close-btn">Cerrar</button></a>
        <a href="#"><button class="close-btn">Guardar</button></a>
    </div>
</div>

</body>
</html>
