<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="fragments.html :: head(titulo='ListaUsuarios')"></th:block>
    <title>Lista de Usuarios</title>
</head>
<body>
<h1>Lista de Usuarios</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Peso</th>
        <th>Edad</th>
        <th>Sexo</th>
        <th>Acciones</th>
        <th>Mensajes</th> <!-- Nueva columna para los mensajes -->
    </tr>
    </thead>
    <tbody>
    <tr th:each="usuario : ${usuarios}">
        <td th:text="${usuario.id}"></td>
        <td th:text="${usuario.nombre}"></td>
        <td th:text="${usuario.peso}"></td>
        <td th:text="${usuario.edad}"></td>
        <td th:text="${usuario.sexo}"></td>
        <td>
            <form th:action="@{/administracion/{adminId}/listaUsuarios/eliminar/{userId}(adminId=${adminId}, userId=${usuario.id})}" method="post">
                <button id="delete" type="submit">Eliminar</button>
            </form>
        </td>
        <td>
            <a th:href="@{/administrador/1/mensaje/usuario/{userId}(userId=${usuario.id})}">
                <button type="button">Ver Mensajes</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>