<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <th:block th:replace="fragments.html :: head(titulo='ListaProductos')"></th:block>
  <title>Tabla de Productos para Dieta</title>
</head>
<body>
<div th:replace="__header :: body"></div>
<form action="/guardar-dieta" method="post">
  <div class="container">
    <h2>Plan de Dieta Semanal</h2>
    <div class="nombre-dieta">
      <label for="nombreDieta">Nombre de la Dieta: </label>
      <input type="text" id="nombreDieta" name="nombreDieta" placeholder="Escribe el nombre de tu dieta">
    </div>
    <table>
      <thead>
      <tr>
        <th>Lunes</th>
        <th>Martes</th>
        <th>Miércoles</th>
        <th>Jueves</th>
        <th>Viernes</th>
        <th>Sábado</th>
        <th>Domingo</th>
      </tr>
      </thead>
      <tbody>
      <!-- Celdas vacías, los productos se agregarán en el servidor cuando se seleccionen -->
      <tr th:each="producto : ${productosSeleccionados}">
        <td th:text="${producto.nombre}"></td>
        <td th:text="${producto.nombre}"></td>
        <td th:text="${producto.nombre}"></td>
        <td th:text="${producto.nombre}"></td>
        <td th:text="${producto.nombre}"></td>
        <td th:text="${producto.nombre}"></td>
        <td th:text="${producto.nombre}"></td>
      </tr>
      </tbody>
    </table>

    <button type="submit">Guardar Dieta</button>
  </div>
</form>

<div>
  <label><input type="checkbox" name="diasSeleccionados" value="lunes" /> Lunes</label>
  <label><input type="checkbox" name="diasSeleccionados" value="martes" /> Martes</label>
  <label><input type="checkbox" name="diasSeleccionados" value="miercoles" /> Miércoles</label>
  <label><input type="checkbox" name="diasSeleccionados" value="jueves" /> Jueves</label>
  <label><input type="checkbox" name="diasSeleccionados" value="viernes" /> Viernes</label>
  <label><input type="checkbox" name="diasSeleccionados" value="sabado" /> Sábado</label>
  <label><input type="checkbox" name="diasSeleccionados" value="domingo" /> Domingo</label>
</div>

<!-- Lista de productos seleccionables -->
<div>

  <select th:name="supermercadoId">
    <option value="">Selecciona un supermercado</option>
    <option th:each="supermercado : ${supermercados}" th:value="${supermercado.id}" th:text="${supermercado.nombre}"></option>
  </select>

</div>
<div class="productos-lista">
  <h3>Selecciona los productos</h3>
  <ul>
    <li th:each="producto : ${productos}" th:text="${producto.nombre}">
      <input type="checkbox" name="productosSeleccionados" th:value="${producto.id}" />
      <span th:text="${producto.nombre}"></span>
    </li>
  </ul>
  <button type="submit">Guardar cambios</button>
  <button type="submit">Vaciar tabla</button>
</div>

</body>
</html>